body { background-color: green;}
#h {background-color:white; height: 10vh;}
#f {background-color:white; }
#lt {font-size: 18pt;}
#m {font-size: 18pt; text-align: center;}
img {width: 4.5vw; height:auto;}
input { width: 20%; height: auto;}
@media only screen and (orientation: portrait) { 
    img {width: 10vw; height: auto;}
    #lt {font-size: 32pt;}
    #m {font-size: 32pt; text-align: center;}
    input { width: 20%; height: auto; font-size: 18pt; text-align: center;}
  
    


}






    

